doctype html
html
  head
    title= title
    link(rel='icon', href='paintBrushIcon.png')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content
    
